* {
  box-sizing: border-box;
}

.positioning {
  width: 600px;
  height: 600px;
  border: 1px solid black;

  position: relative;

}

.positioning > .absolute1 {
  background-color: green;
  top: 130px;
  left: 260px;
  right: 200px;
  bottom: 210px;
  position: absolute;
}

.positioning > .absolute2 {
  background-color: lightgreen;
  top: 140px;
  left: 250px;
  right: 300px;
  bottom: 200px;
  position: absolute;
}

.positioning > .static {
  background-color: orange;
  top: 40px;
  left: 50px;
  right: 10px;
  bottom: 0;
  position: static;
}

.positioning > .sticky {
  background-color: pink;
  top: 40px;
  left: 50px;
  right: 10px;
  bottom: 0;
  position: sticky;
}

.container {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  /* transform: translate(200px, 200px) rotate(45deg) scale(0.5) skew(25deg); */
  background-image: url(images/tms.jpg);
  background-repeat: no-repeat;
  /* background-position: 20% 100px; */
  background-size: cover;
  position: relative;
}

.container-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  visibility: hidden;
}

.container-text:hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: visible;
}

.container:hover::after {
  opacity: 1;
}

.container::before {
  content: '';
  background-color: red;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;

}

.container:hover::before {
  opacity: 0.5;
}

.container2 {
  width: 600px;
  height: 600px;
  border: 1px solid black;
}

.box1 {
  width: 100px;
  height: 200px;
  background-color: aquamarine;
  display: inline-block;
  margin: 0;
}

.box2 {
  width: calc(100% - 104px);
  height: 200px;
  background-color: green;
  display: inline-block;
  margin: 0;
  padding: calc(3rem * 2 + 10%);
}

.container3 {
  width: 600px;
  height: 600px;
  border: 1px solid black;
  padding: 30px;
}

.container3 .link {
  font-size: 44px;
  padding-left: 30px;
  margin-top: 30px;
}

.container3 .link:link {
  color: green;
}

.container3 .link:visited {
  color: brown;
}

.container3 .link:focus {
  color: blue;
}

.container3 .link:hover {
  color: yellow;
}

.container3 .link:active {
  color: orange;
}

.link:nth-child(3) {
  border: 5px solid red;
}

/* элементы с классом link, и (но) без класса link1 */
.link:not(.link1) {
  border: 5px solid purple;
}

.link:not(.link1):hover {
  background-color: lightgreen;
}

.link[disabled] {
  background-color: cornflowerblue;
}

.link[name="456"] {
  background-color: darkred;
}

.container3::after {
  content: '😀';
  width: 250px;
  height: 100px;
  background-color: aqua;
  display: block;
  margin: auto;
}