*{
    /* font-family: Raleway; */
    text-transform:uppercase;
    box-sizing: border-box;
    
}
h3{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h5{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    justify-content: center;
}

p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform:initial;
}

button{
    font-family: 'Raleway';
    background: #FF4343;
    width: 370px;
    height: 80px;
    margin-top: 82px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    border: none;
    color:#FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    align-items: center;
    text-align: center;
    text-transform:uppercase;


}

button:hover{
    background:#E71414;
}

button:active{
    background: #FF4343;
    box-shadow: 4px 4px 30px #FF4343;
}

.row{
    justify-content: center;
}

.card{
    border: none;
    background: none;   
}

.card-body{
    flex: none;
    padding:0;
}

.container-fluid{
    padding: 0;
}

.logo{
    background:  url(img/logo.png) no-repeat center top; 
    width: 270px;
    height: 100px;
 
}

header{
    max-width: 1510px;
    margin: 0 auto;
}

header .container{
    background:  url(img/bg.png) no-repeat center top;
    

    padding: 0;
    max-width: 100%;
    height: 747px; 

}


.navbar-nav{
    align-items: center;
    text-align: center;
    
}

nav.navbar{
    border-bottom: 1px solid #BABBC5;
    margin: 0 170px;
    padding: 0;
}


.navbar-collapse{
    flex-grow: 0;
} 

.nav-item{
    width: 134px;
    
}

.navbar-nav .nav-item a{ 
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

.navbar-nav .nav-item a:hover{
    border-bottom: 2px solid #BABBC5;
    padding-bottom: 40px;
    padding-top: 41px;
}

.navbar-nav .nav-item a:active{
    border-bottom: 2px solid #E71414;
    color:#E71414;
    padding-bottom: 40px;
    padding-top: 41px;
}

.baner{
    margin: 0 170px;
}

header h1{
    font-family: 'Raleway';
    padding-top: 129px;
    padding-bottom: 23px;
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 75px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

header h2{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-transform: initial;
    margin: 0 70px;
}

.features{
    padding: 117px 0px;
}

.features .container{
    width: 1300px;
    height: 717px;
}

.features .card{
    width: 370px;
    height: 305px;
    margin: 0px 14px 88px 16px;
}

.features .card-body{
    padding-top: 15px;
}

.features h5{
    padding-top: 35px;
}

.features p{
    padding-top: 35px;
    color:#6C7279;

   
}



.features .card-img-top{
    height: 100px;
    width: 100px;
    margin: 0 auto;
}

/* .works{    
height:678px;
} */

/* .row{
    margin: 0;
} */

.row>*{
    padding-right: 0;
    padding-left: 0;

}
/* .works .col img{
    width:378px;
    height:340px;
} */


.works .row{
    height:678px;
    width: 1512px;
}

.work{
    position: relative;
}

.works .work{
    width:378px;
    height:340px;
    overflow: hidden;
  }

  .works .work div:first-child{
    transform: scale(1.01);
    width: 100%;
    height: 100%;
  }

.work1{
    background-image:url(./IMG/work_1.png);
}

.work2{
    background-image:url(./IMG/work_2.png);
}
.work3{
    background-image:url(./IMG/work_3.png);
}
.work4{
    background-image:url(./IMG/work_4.png);
}
.work5{
    background-image:url(./IMG/work_5.png);
}
.work6{
    background-image:url(./IMG/work_6.png);
}
.work7{
    background-image:url(./IMG/work_7.png);
}
.work8{
    background-image:url(./IMG/work_8.png);
}



/* .hover{
    background-color: #FF4343;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.8;
} */

.hover {
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0.8;
    background-color: #FF4343;
    top: 0px;
    display: none;
    z-index: 10;
    width: 378px;
    height: 340px;

}

.hover h4{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: 124px;

}
.hover h5{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    text-transform: initial;
    padding-top: 29px;
}

.work:hover .hover{
    display: block;
    cursor: pointer;
}

.our-team{
    
    padding-top: 114px;
    
}

.our-team .container{
    width: 1170px;
    padding: 0;
}

.our-team .row{
    height: 730px;
    margin: 0 auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.our-team .col-3{
    width: 270px;
    /* height: 619px; */
    margin-right: 8px;
}

.our-team .col-3:last-child{
    margin-right:0;
}

.our-team .card-body{
    /* padding-left: 0;
    padding-top: 0px; */
    padding: 0;
}

.our-team .row .card-img-top{
    height: 270px;
    width: 270px;
}

.our-team h5{
    font-weight: 700;
    padding-top: 31px;
    text-align: inherit;
    text-transform: capitalize;
    margin-bottom: 0px;
    
}

.our-team h6{
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FF4343;
    padding-top: 6px;

}

.our-team p{
    padding-top: 10px;
    text-align: inherit;
    color: #6C7279;
    margin-right: 12px;
}

.our-team .link{
    padding-top: 22px;
    padding-right: 2px;
    display: inline-block;
}

.testimonials .carousel-inner h5{
    font-family: 'Cardo';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 49px;
    display: flex;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 0px 130px;
    margin-top: 115px;
    text-align: left;
}

.testimonials .carousel-inner p{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 23px 131px;
}
.carousel-caption{
    top: 0;
    right: 0;
    bottom: 0;
    left: 49%;
    width: 51%;

}

.carousel-inner .carousel-caption{
    background-color: #5C3249;
} 

.carousel-control-next, .carousel-control-prev{
    z-index: 45;
}
.carousel-indicators li{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background:none;
    border: 1px solid #7E5D6F;
    opacity: 1;
    margin: 0 12px;
}

.carousel-indicators .active{
    background-color: #7E5D6F;
    opacity: 1;
}

.carousel-indicators {
    position: unset;
    top:initial;
    right: initial; 
    bottom: initial;
    left: initial;
    z-index:0; 
    width: 1510px;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    padding-top: 22px;
}   

.testimonials .container{
    padding: 0;
}

.downloud h3{
    text-transform: initial;
    font-weight: 500;
    margin-top: 130px;
    
}

.downloud h5{
    font-weight: 700;
    font-size: 18px;
    margin-top: 20px;
}

.downloud button{
    margin-top: 45px;
    margin-bottom: 115px;
}

footer .container{
    background: #353C65;
    height: 340px;
}

footer .container{
    padding-left: 0;
    padding-right: 0;
}
 
footer .card{
    width: 400px;
}

footer .card h5{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    padding-top: 71px;
    color: #FFFFFF;
}
footer .card h5:last-child{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    padding-top: 20px;
    color: #FFFFFF;
    margin: 0 13px;
}


footer .card .share{
    display: flex;
    justify-content: center;
    margin-top: 27px;

}

footer .card a {
    width: 39px;
    height: 39px;
    margin: 13px;
}

footer div .copyright h5{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    width: 370px;
    color: #808080;
    margin: 24px 0;
}

footer .copyright{
    background: #2C3154;
    display: flex;
    justify-content: center;
    height: 96px;
    margin-top: 59px;

    
}

footer div h5 span{
    text-transform: capitalize;
    color: #FFFFFF;
    
}


@media (min-width: 1400px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1510px;
    }
  }

  @media (max-width: 1024px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1024px;
    }
    nav.navbar{
        margin: 0 20px;
    }
    .logo{
        margin-left: 0.05rem;
    }

    .nav-item {
        width: 112px;
    }

    .navbar-nav .nav-item a{
        font-size: 12px;
        line-height: 14px;
    }

    .baner{
        margin: 0 40px;
    }

    header .container{
        background-size: cover;
        height: 768px;

    }

    header h1{
        margin-top: 29px;
        font-weight: 900;
        font-size: 48px;
        line-height: 56px;
    }

    header h2{
        margin: 37px 90px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;

    }

    header button{
        width:313.15px;
        height:77.58px;
        margin-top: 90px;

    }

    

    .features {
        padding: 78px 0px 0px 0px;
    }

    .features .container {
        height: auto;
        padding-bottom: 32px;

    }
    .features .card {
        width: 32.7%;
        height: 237px;
        margin: 0;
        margin-bottom: 50px;
    }

    .features .card-body {
        padding-top: 8px;
    }

    .features .card-img-top{
        width: 85px;
        height: 85px;
    }

    .features h5{
        font-weight: 900;
        font-size: 18px;
        line-height: 21px;

    }

    .features p{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        padding-top: 12px;
        margin: 0px 16px;

    }

    .works .container{
        padding: 0;
    }

    .works .row{
         height: auto;
         width: auto;
    }

    .works .work{

        width:256.34px;
        height: 230.57px;
    }
    .work div{
        background-size: contain;
    }



    .our-team {
        padding-top: 75px;
    }
    
    
    .our-team .container{
        width: 984.08px;
    }

    .our-team .row{
        width: auto;
        height: auto;
    }

    .our-team .col-3{
        margin-right: 6px;
    }

    .our-team .row .card-img-top {
        width: 227.08px;
        height: 227.08px;
    }

    .our-team h5{
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        padding-top: 28px;


    }

    .our-team h6{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

    }

    .our-team p{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        padding-top: 15px;
    }

    .our-team .link {
        padding-top: 22px;
        padding-right: 0;
    }

    .our-team img{
        width: 32.8px;
        height: 32.8px;
    }

    .testimonials{
        padding-top: 5rem;
    }

    .w-50 {
        width: 49%!important;
    }

    .testimonials .carousel-inner h5{
        font-size: 24px;
        line-height: 32px;
        margin: 0px 90px;
        margin-top: 40px;
    }
    
    .testimonials .carousel-inner p{
        font-size: 12px;
        line-height: 14px;
        margin: 17px 88px;
    }

    .carousel-indicators{
        width: auto;
    }

    .carousel-indicators li {
        width: 7px;
        height: 7px;
        margin: 0 13.1px;
    }

    .downloud h3{
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        margin-top: 94px;
    }

    .downloud h5{
        font-size: 14px;
        line-height: 16px;
    }

    .downloud button{
        width: 313.15px;
        height: 77.58px;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 78px;
        margin-top: 47px;
    }

    footer .container{
        height: auto;
    }

    footer .card {
        width: 31.7%;
    }

    footer .card h5{
        font-size: 14px;
        line-height: 16px;
        padding-top: 46px;
    }

    footer .card h5:last-child{
        padding-top: 10px;
        font-size: 14px;
        line-height: 16px;
        margin: 0px 12px;
    }

    footer .card .share{
        margin-top: 26px;
    }

    footer .card a {
        margin: 0px 11px;
        width: 33px;
        height: 33px;
    }

    footer .card img{
        width: 33px;
        height: 33px;
    }

    
    footer .copyright {
        height: 60px;
        margin-top: 41px;

    }

    footer div .copyright h5{
        font-size: 14px;
        line-height: 16px;
        width: 350px;
        margin: 14px 0;

    }

  }


  @media (max-width: 1023px){
    
  }